# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store

# Logs
*.log

# Power BI autosave
*.pbix.autosave

# Temporary files
*.tmp
*.bak

# Environment variables
.env